.sign-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }
  
  .sign-label {
    font-weight: bold;
    margin-top: 1rem;
  }
  
  .sign-input {
    padding: 0.5rem;
    margin-top: 0.5rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    font-size: 1rem;
  }
  
  .update-button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  
  .update-button:hover {
    background-color: #3E8E41;
  }
  
  /*.next2{
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }
  .back2 {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #008CBA;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
  }

  
  .next2:hover, .back2:hover {
    background-color: #007EA7;
  }*/
  /* Apply styles to the "Next" button */
.next2 {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  /* Apply styles to the "Back" button */
  .back2 {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  